*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(31, 31, 36);
    border-bottom: 2px solid rgb(161, 149, 255);
}

li{
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: rgb(161, 149, 255);
}

a:hover{
    border-bottom: 2px solid rgb(161, 149, 255);
    font-size: 20pt;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(201, 201, 255);
    text-align: center;
}

h1{
    margin-top: 10px;
    color:azure
}